/*TOP CONTAINER (GOVERNMENT PAGE) - Mobile                               (TOP CONTAINER) */
/*________________________________________________________________________*/

.entire-list {
    padding-top: 200px;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.government {

    text-align: center;
    color: var(--bg-White);
    width: auto;
    border: 2pt solid black;
    background-color: var(--secondary-color);
    padding: 5pt;
}


.government h1 {
    font-weight: bold;
    font-size: 2em;
    padding-bottom: 1rem;
    text-shadow: 2px 2px var(--shadow);
}

.government p {
    font-size: 1.5em;
}

/*TOP LINKS SECTION - Mobile*/



.container-top-links {
    position: relative;
    text-align: center;
    color: white;
    font-size: 1em;
    font-family: "noto-sans", Helvetica, sans-serif;
    background-color: var(--bg-White);

    line-height: 1.75;
    border-radius: 5px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 20px 20px 70px 20px;
}

.container-top-links {
    display: grid;
    color: var(--body-text-color);
    border: 1pt solid var(--bg-gray);
}

.top-links {
    padding: 30px;
    gap: 20px;
}

.top-links h1 {
    color: var(--primary-color);
}

.top-links p {
    color: var(--body-text-color);
}

.top-links a {
    text-decoration: none;
}

.top-links:hover {
    opacity: 1;
    box-shadow: 7px 7px 10px var(--shadow);
    transform: translateY(10px);
}



/*BOTTOM CONTAINER (GOVERNMENT PAGE)                         (BOTTOM CONTAINER) */
/*________________________________________________________________________*/

.container-bottom-home {
    padding-top: 50px;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.departments {
    text-align: center;
    color: var(--bg-White);
    font-size: .75em;
    width: 100%;
    border: 2pt solid black;
    text-shadow: 2px 2px var(--shadow);
    background-color: var(--secondary-color);
    padding: 5pt;
}

.departments-grid {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    color: var(--body-text-color);
}

.departments-frame {
    height: 10rem;
    width: 20rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-White);
    border: 5px #DFE1D3 solid;
}

.dept {
    text-decoration: none;
}

.departments-frame:hover {
    opacity: 1;
    box-shadow: 5px 5px 5px var(--shadow);
    transform: scale(1.1);
}

.icon-border {
    border-right: 1pt solid var(--bg-gray);
    height: 100%;
    width: 100%;
    flex: 1;
    padding-top: 40px;
    padding-bottom: 40px;
}

.departments-icon {
    text-align: center;
    color: var(--accent-goldenrod)
}

.departments-text {
    flex: 3;
    padding-left: 10px;
}

.departments-frame h1 {
    color: var(--secondary-color);
    width: 100%;
    font-size: 1.2em;
}

.departments-frame p {
    color: var(--body-text-color);
    margin-top: 15px;
    text-align: left;
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.2;
}

.departments-text button {
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 20px;
    padding: 10px;
    background-color: var(--primary-color);
    border: solid #9c9d97 2px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 1em;
}

.departments-text button:hover {
    opacity: 1;
    box-shadow: 5px 5px 5px var(--shadow);
    transform: translateY(10px);
}



/* Media Query for LARGE VIEWPORTS*/
@media screen and (min-width: 900px) {

    .container-top-links {
        display: grid;
        grid-template-columns: auto auto auto;
        color: var(--body-text-color);
    }

    .government {
        padding-top: 20px;
        padding-bottom: 30px;
        text-align: center;
    }

    .government h1 {
        font-weight: bold;
        font-size: 3em;
        padding-bottom: 1rem;
        text-shadow: 2px 2px var(--shadow);
    }

    .government p {
        font-size: 1.5em;
        padding-left: 15%;
        padding-right: 15%;
    }

    .departments {
        font-size: 1.5em;
        width: 100%;
        align-self: center;
    }

    .departments-grid {
        gap: 30px;
    }

    .departments-frame {
        width: 30rem;
    }

    .departments-frame h1 {
        font-size: 1.75em;
    }

    .departments-frame p {
        font-size: 1.25em;
    }


}